@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

<section>
    <h1>Bienvenido al Gimnasio MAF</h1>
    <p>Registrate o ingresa a tu perfil para comenzar.</p>
</section>